@model WebUI.Models.RegisterModel

@{
    ViewBag.Title = "Registration";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Registration</h2>


<div class="panel">
    <div class="panel-heading">
        <h3>Registration</h3>
    </div>
    <div class="panel-body">
        <p class="lead">Please Register:</p>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            <div class="form-group">
                <label>User Name:</label>
                @Html.TextBoxFor(m => m.Login, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Password:</label>
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Confirm password:</label>
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Phone Number:</label>
                @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Age:</label>
                @Html.TextBoxFor(m => m.Age, new { @class = "form-control" })
            </div>
            <input type="submit" value="Register" class="btn btn-primary" />
        }
    </div>
</div>