@using Domain.Entities;
@model IEnumerable<Domain.Entities.User>

@{
    ViewBag.Title = "List Users";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>All Users</h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-condensed table-bordered">
            <tr>
                <th class="text-center">ID</th>
                <th class="text-center">Name</th>
                <th class="text-center">Age</th>
                <th class="text-center">Role</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-center">@item.Id</td>
                    <td class="text-center">@item.Email</td>
                    <td class="text-center">@item.Age</td>
                    <td class="text-left">@item.Role.Name
                    @if (item.Role.Id != (int)DefaultRoles.Admin)
                    {
                        if (item.Role.Id == (int)DefaultRoles.Moderator)
                        {
                            using (Html.BeginForm("ChangeRole", "Admin", new { user = item.Email, role = DefaultRoles.User }))
                            {
                                <input type="submit" class="btn btn-success pull-right" value="Set to User" />
                            }
                        }
                        else
                        {
                            using (Html.BeginForm("ChangeRole", "Admin", new { user = item.Email, role = DefaultRoles.Moderator }))
                            {
                                <input type="submit" class="btn btn-success pull-right" value="Set to Moderator" />
                            }
                        }
                    }
                </td>
            </tr>
        }
        </table>
    </div>
    <div class="panel-footer">
        @Html.ActionLink("Exit", "List","Product", null,
        new { @class = "btn btn-default" })
    </div>
</div>
