@model Domain.Entities.Purchase

@{ 
    decimal totalCost = 0;
}

<div class="well ">
    <span class="lead">Purchased products:</span>
        @foreach (var line in Model.Products)
        {
        <h3>
            <strong>@line.Product.Name</strong>
            <span class="pull-right label label-primary">@((line.Product.Price*line.Quantity).ToString("c"))</span>
            <br/>Quantiry @line.Quantity:
        </h3>
            totalCost += line.Product.Price*line.Quantity;
        }
    <div class="lead">Total cost: @totalCost.ToString("c")</div>
    <div class="lead">Date of purchase: @Model.DateBuy</div>
    <hr>
</div>